# virtual environment
.venv/

# python cache
__pycache__/
*.pyc

# data outputs
to_csvs/
data/
*.parquet

# ignore all csvs by default
*.csv

# BUT track team game csvs
!to_games_csvs/
!to_games_csvs/*.csv

# environment files
.env

# misc
.DS_Store